body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align:none;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
                max-width:800px;
                color:blue;
                margin:auto;
                font-family:comic san_ms;
                padding-top:20px;
                padding-left:30px;
            }
